/* font, color, and alignment for the titles of the three displayable regions */
h3 {
    background-color: #DDD;
    font-size: 24pt;
    font-weight: bold;
    height: 42px;
    text-align: center;
}

/* The main screen table should have some space to the left */
#messageList {
    margin-left: 15px;
}

/* The table should be wider than it absolutely needs to be */
table {
    width: 500px;
}

/* alternate color of table rows */

/* make table row height a bit bigger than necessary */
tr {
    height: 15px;
    cursor:pointer;
}   

/* make the first column of the table wide */
td:nth-child(2) {width: 75%;}
